@font-face {
	font-family: edunline;
	src: url('../font/edunline.eot');
	src: url('../font/edunline.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #000000;
    overflow: hidden;
}

#game {
    display: block;
    margin: 0 auto;
}

#game-container {
    position: relative;
    text-align: center;
}

.game-info {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 10px;
}

.menu-item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c0c0c0;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 3px solid #707070;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.menu-link:hover {
    cursor: pointer;
    opacity: 0.8;
    border: 3px solid #a0a0a0;
}

.menu-text {
    margin-bottom: 25px;
    margin-top: 25px;
}

#game-over {
    visibility: hidden;
}

.modal-backdrop{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    display:none;
}
.modal-backdrop.active{
    display:block;
}
.modal-window{
    width:600px;
    max-width:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    background:#FFF;
    display:none;
}
.modal-window.active{
    display:block;
}
.modal-window *{
    box-sizing:border-box;
}
.modal-content{
    float:left;
    width:100%;
    display:flex;
    align-items:stretch;
    flex-flow:row wrap;

}
.modal-content .left{
    float:left;
    width:50%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.modal-content .right{
    float:left;
    width:50%;
    min-height:400px;
    padding:15px;
}
.modal-content p{
    font-size: 14px;
    line-height: 22px;
}
.modal-close{
    position:absolute;
    top:-20px;
    right:0;
    color:#FFF;

}
.menu-item{
    font-size: 11px;
}